aaaaaaaa    ICON "bitmaps/email.ico"
email       ICON "bitmaps/email.ico"
addaccount  ICON "bitmaps/addaccount.ico"
write       ICON "bitmaps/write.ico"
reply       ICON "bitmaps/reply.ico"
replyall    ICON "bitmaps/replyall.ico"
forward     ICON "bitmaps/forward.ico"
move        ICON "bitmaps/move.ico"
delete      ICON "bitmaps/delete.ico"
group       ICON "bitmaps/group.ico"
refresh     ICON "bitmaps/refresh.ico"
about       ICON "bitmaps/about.ico"
attach      ICON "bitmaps/attach.ico"
delattach   ICON "bitmaps/delattach.ico"
send        ICON "bitmaps/send.ico"
bold             ICON "bitmaps/bold.ico"
italic           ICON "bitmaps/italic.ico"
underline        ICON "bitmaps/underline.ico"
fgcolor          ICON "bitmaps/fgcolor.ico"
bgcolor          ICON "bitmaps/bgcolor.ico"
alignleft        ICON "bitmaps/alignleft.ico"
aligncenter      ICON "bitmaps/aligncenter.ico"
alignright       ICON "bitmaps/alignright.ico"
alignjustify     ICON "bitmaps/alignjustify.ico"
clearformatting  ICON "bitmaps/clearformatting.ico"
mms              ICON "bitmaps/mms.ico"
ordered          ICON "bitmaps/ordered.ico"
unordered        ICON "bitmaps/unordered.ico"
insertlink       ICON "bitmaps/insertlink.ico"
strikethrough    ICON "bitmaps/strikethrough.ico"
subscript        ICON "bitmaps/subscript.ico"
superscript      ICON "bitmaps/superscript.ico"

#define wxUSE_NO_MANIFEST 0

#include "wx/msw/wx.rc"